{% extends "base.html" %}

{% block title %}
    ERROR
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                <small style="color: green;">{{ messages[0] }}</small><br>
            <small>Based on your search it could take a while to load data.Try
            using author name or isbn as key or  full book name.</small>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}